<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">
	<!-- Spring AOPアドバイザーの設定 -->
	<!-- lumi2.diパッケージ以下にあるクラスに対してアスペクト注入をしています。
	     もしアスペクトの追加をする場合は、この定義にならって追記してください。
	     A-pZ ( Serendipity 3 ./ as sundome goes by. )
	-->
	<context:component-scan base-package="lumi.di">
		<context:include-filter type="annotation"
			expression="org.aspectj.lang.annotation.Aspect" />
	</context:component-scan>
	<aop:aspectj-autoproxy />
	<aop:config proxy-target-class="true" />

</beans>