<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
default-autowire="byName"
>
    <!-- Springトランザクション管理クラス -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"><ref bean="dataSource"/></property>
    </bean>

    <!-- トランザクション定義でSpringアノテーション利用を宣言する。 -->
	<tx:annotation-driven transaction-manager="transactionManager"
      proxy-target-class="true" />

    <!-- JNDIルックアップ -->
    <bean id="dataSource" class="select.your.JDBC.DataSource">
		<!-- Constructor type -->
		<constructor-arg><value>Server.Name</value></constructor-arg>
		<constructor-arg><value>username</value></constructor-arg>
		<constructor-arg><value>password</value></constructor-arg>
		<!-- JDBC4 type
		<property name="url" value="*set:your://DBURL*" />
		<property name="user" value="*username*" />
		<property name="password" value="*password*" />
		 -->
	</bean>

	<!-- XBeanを使ったJNDI登録 -->
	<bean id="jndi" class="org.apache.xbean.spring.jndi.DefaultContext">
		<property name="entries">
			<map>
				<entry key="java:comp/env/jdbc/dbcon">
					<ref bean="dataSource" />
				</entry>
			</map>
		</property>
	</bean>

    <!-- MyBatis-Spring連携 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="configLocation" value="classpath:mybatis/sql-map-config.xml" />
    </bean>

    <!-- Mybatisを直接利用するDAOのインスタンス定義 -->
    <bean id="DAO" class="lumi.dao.DAOImpl">
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

</beans>
